
mat-horizontal-stepper, mat-vertical-stepper {
  box-shadow: 13px 10px 51px 1px rgba(0,0,0,0.81);
}
.submit-button {
  background-color: black;
  color: white;
  transition: 300ms;
}

.submit-button:hover {
  background-color: #b10020;
}


